html {
    scroll-behavior: smooth;
}

.cta {
    font-variant: small-caps;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.masthead .jumbotron {
    color: white;
    background: rgba(0, 0, 0, 0.4);
}

#sticky-footer {
    flex-shrink: none;
  }