<!doctype html>

<html {% if lang %} lang="{{ meta_lang }}" {% endif %}>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    
    <title>{{ meta_title }}</title>
    <meta name="description" content="{{ meta_description }}">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">{{ company_name }}</a>
            {% if btn_calltoaction_text %}
                <a class="btn btn-sm btn-secondary cta" href="{{ btn_calltoaction_link }}" role="button">{{ btn_calltoaction_text }}</a>
            {% endif %}
        </div>
    </nav>
    
    <!-- Full Page Image Header with Vertically Centered Content -->
    <header class="masthead" >
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="jumbotron">
                    <div class="container">
                        <h1>{{ headline }}</h1>
                        {% if headline_sub %}
                            <p class="lead">{{ headline_sub }}</p>
                        {% endif %}
                        {% if btn_learnmore_text or btn_calltoaction_text %}
                            <p class="lead">
                                {% if btn_learnmore_text %}
                                    <a class="btn btn-outline-secondary btn-lg" href="{{ btn_learnmore_link }}" role="button">{{ btn_learnmore_text }}</a>
                                {% endif %}                                
                                {% if btn_calltoaction_text %}
                                    <a class="btn btn-secondary btn-lg cta" href="{{ btn_calltoaction_link }}" role="button">{{ btn_calltoaction_text }}</a>
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- Page Content -->
    {% if sections %}
        <div id="content" class="mb-4"></div>
    {% for section in sections %}
        {% if loop.index > 1 %}
            <div class="container"><hr></div>
        {% endif %}
        <section class="py-5">
            {% if section.type == 'text' %}
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <h2 class="text-center font-weight-light">{{ section.title }}</h2>
                            <p class="lead text-justify" style="color: #767676;">{{ section.paragraph }}</p>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
            {% elif section.type == 'double_cards'%}
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top" src="{{ section.left_card_image }}" alt="{{ section.left_card_image_alt }}">
                                <div class="card-body">
                                    <h3 class="card-title font-weight-bold lead" style="font-variant: small-caps;">{{ section.left_card_title }}</h3>
                                    <p class="card-text font-weight-light">{{ section.left_card_text }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top" src="{{ section.right_card_image }}" alt="{{ section.right_card_image_alt }}">
                                <div class="card-body">
                                    <h3 class="card-title font-weight-bold lead" style="font-variant: small-caps;">{{ section.right_card_title }}</h3>
                                    <p class="card-text font-weight-light">{{ section.right_card_text }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            {% endif %}
        </section>
    {% endfor %}
    {% endif %}

    <!-- Page Footer -->
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; {{ company_name }}</small>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
</body>
</html>